
.page-header {
    position: relative;
    display: block;
    overflow: hidden;
}
div.titlelion {
    position: absolute;
    top: 30px;
    left: -150px;
}
@media (max-width: 1200px) {
    div.titlelion {
        left: -250px;
    }
}
@media (max-width: 900px) {
    div.titlelion {
        top: 50px;
        left: -150px;
    }
    div.titlelion > img {
        width: 300px;
        height: 300px;
    }
}
@media (max-width: 800px) {
    div.titlelion {
        top: 80px;
        left: -200px;
    }
    div.titlelion > img {
        width: 300px;
        height: 300px;
    }
}
@media screen and (max-width: 42em) {
    div.titlelion {
        top: 14px;
        left: 14px;
    }
    div.titlelion > img {
        width: 60px;
        height: 60px;
    }
}
@media screen and (max-width: 350px) {
    div.titlelion {
        display: block;
        width: 90%;
        text-align: center;
        position: relative;
        margin-top: -1.3em;
        margin-bottom: 1.3em;
    }
    div.titlelion > img {
        width: 60px;
        height: 60px;
    }
}

a.prime {
    border-width: 2px;
    font-weight: bold;
}

.site-footer {
    padding: 1em;
}
