/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 * Background
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

 body {
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/lion-bg.png);
    background-attachment: fixed;
    background-size: 40%;
}
