// A card that turns blue on hover and is clickable.

div.card-button {
    background: none;
    border: 0;
}

div.card-clickable:hover {
    background-color: lighten($card-cap-bg, 10%);
    cursor: pointer;
    > div.card-header {
        background-color: lighten($card-cap-bg, 16%);
        > span {
            color: lighten($text-muted, 16%);
        }
    }
}
