/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 * Navbar Common
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

 .navbar {
    padding: 0.5rem 1rem;
}
.navbar .row {
    flex-wrap: nowrap;
    width: 100%;
}
.navbar .row ul {
    width: min-content;
}
.navbar a.nav-link, .navbar p {
    white-space: nowrap;
}
.navbar .fix-padding {
    font-size: 1.171875rem;
    padding: 0.5rem 0;  /* 2x 0.32421875rem */
}

.navbar ul.navbar-nav .dropdown-menu {
    position: absolute;
}

div.card-container {
    margin-top: calc(60px + 1rem);
}

/* Assign class "dropdown-menu-right" to the dropdown div
 * to fix dropdown menu disappearing off-screen on the right side */
 nav.navbar div.dropdown-menu-right {
    position: absolute;
    right: 0;
    left: auto;
}
