/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 * Modal Dialogs
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

 div.modal-dialog {
    margin-top: 160px;
}
@media (max-height: 780px) {
    div.modal-dialog {
        margin-top: 10px;
    }
}
.modal-backdrop.show {
    opacity: 0.7;
}
