<section class="page-header">
    <div class="titlelion"><img src="{{ site.baseurl }}/images/civbuddy-logo-lion-460x460.png" alt="" /></div>
    <h1 class="project-name">{{ site.name }}</h1>
    <h2 class="project-tagline">{{ site.description }}</h2>
    <a href="https://github.com/{{ site.github }}" class="btn">View on GitHub</a>
    <a href="{{ site.appurl }}" class="btn prime">Start App</a>
    <a href="https://github.com/{{ site.github }}/zipball/master" class="btn">Get Sources</a>
</section>
