/* TODO header text
   TODO use iWebKit styles for iPhone like look? license ok? */

body, table td, select {
    font-family: helvetica, sans-serif;
    font-size: medium;
}
body {
    background-color: white;
    height: 100%;
}

.cb-AppWidget {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-family: helvetica, sans-serif;
    font-size: medium;
    margin: 0;
    padding: 0;
    background: url("images/background.gif");   /* must use GIF, because Safari barfs on the PNG version */
    height: 100%;
    width: 100%;  /* 320px */
    min-width: 320px;
    max-width: 720px;
}

.cb-AbstractListView-margin {
    /* margin for all abstract list views; used so that the title and bottom bars
       do not obscure part of the list */
    margin: 38px 0 38px 0;  /* top right bottom left */
    padding: 0;
}


/* ----- Title Bar --------------------------------------------------------------- */

.cb-titlebar, .cb-bottombar, .cb-extrabar {
    position: fixed;
    margin: 0;
    padding: 0;
    left: 0;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    color: white;
    z-index: 2;
    min-width: 320px;
    max-width: 720px;
    cursor: default;
}
.cb-titlebar, .cb-bottombar {
    height: 32px;
    line-height: 32px;
    font-weight: bold;
    text-align: center;
}
.cb-titlebar {
    top: 0;
    font-size: 13pt;
}
@external .cb-titlebar-gradient;
.cb-titlebar-text-shadow {
    text-shadow: rgba(0,0,0,0.6) 0 -1px 0;
}

/* ----- Extra Bar --------------------------------------------------------------- */

.cb-extrabar, .cb-bottombar {
    border-color: #808080;
    border-style: solid;
}
.cb-extrabar {
    top: 32px;
    line-height: 43px;
    height: 43px;
    border-width: 0 0 1px 0;   /* top right bottom left */
}
@external .cb-extrabar-gradient;


/* ----- Bottom Bar -------------------------------------------------------------- */

.cb-bottombar {
    bottom: 0;
    font-size: 8pt;
    border-width: 1px 0 0 0;   /* top right bottom left */
}


/* ----- Page items in the list type views --------------------------------------- */

.cb-pageitem {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: white;
    border: #878787 solid 1px;
    font-size: 12pt;
    overflow: hidden;
    padding: 0;
    position: relative;
    margin: 3px 9px 17px;   /* top horz bottom */
    display: block;
    height: auto;
    width: auto;
}
/*
.cb-pageitem .textbox {
    margin: 5px 9px 5px 30px;   / * top right bottom left * /
    position: relative;
    text-indent: -32px;
}
.cb-pageitem .textbox .header {
    display: inline;
    margin-left: 9px;
    padding: 0;
    font-weight: bold;
    color: rgb(73,102,145);
}

.cb-pageitem .checkbox {
    position: relative;
    display: block;
    height: 39px;
    overflow: hidden;
    width: auto;
}
.cb-pageitem .checkbox:first-child {
    border-bottom: 1px solid #878787;
}
.cb-pageitem .checkbox .name {
    margin: 11px 0 0 7px;   / * top right bottom left * /
    width: auto;
    color: black;
    font-weight: bold;
    font-size: 17px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    float: left;
}
.cb-pageitem .checkbox .switch {
    width: 80px;
    height: 23px;
    background: url('../../iWebKit5.04/iWebKit%20demo/images/checkbox-sm.png');
    border: 0;
    float: right;
    margin: 8px 8px 0 0;
}
.cb-pageitem .checkbox .switch-checked {
    background-position: 0 23px;
}
*/
.cb-pageitem .cb-general-listitem {
    position: relative;
    display: block;
    height: 38px;
    overflow: hidden;
    width: auto;
    margin: 0;
    padding: 3px 9px;   /* vert horz */
    border-top: 1px solid #878787;
    cursor: default;
}
.cb-pageitem .cb-general-listitem:first-child {
    border-top: none;
}
.cb-pageitem .cb-general-listitem:hover {
    background-color: #f0f0f0;
}


/* ----- Icon Buttons in Bottom Bar ---------------------------------------------- */

@external #cb-iconbutton-left, #cb-iconbutton-center, #cb-iconbutton-right;
#cb-iconbutton-left, #cb-iconbutton-center, #cb-iconbutton-right {
    position: absolute;
    top: 1px;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    z-index: 4;
}
#cb-iconbutton-left {
    left: 65px;
}
#cb-iconbutton-center {
    left: 145px;
}
#cb-iconbutton-right {
    left: 225px;
}
#cb-iconbutton-left:hover, #cb-iconbutton-center:hover, #cb-iconbutton-right:hover {
    background: url("images/icon_glow.png") no-repeat scroll 0 0 transparent;
}

.cb-iconbutton-disabled {
    opacity: 0.4;
    filter: "alpha(opacity=40)";
    cursor: default !important;    /* override the cursor set by id selector */
    background: none !important;   /* override hover */
}


/* ----- Navigational Buttons in Title Bar --------------------------------------- */

@external #cb-navright;
#cb-navright {    /* this stanza is also used for IE */
    position: absolute;
    right: 9px;
    top: 4px;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
    z-index: 6;
}
#cb-navright .cb-buttontext {
    -webkit-border-image: url("images/navbutton_rightlink.png") 0 13 0 5;
    -moz-border-image: url("images/navbutton_rightlink.png") 0 13 0 5;
    -o-border-image: url("images/navbutton_rightlink.png") 0 13 0 5;
    z-index: 8;
    margin-right: -4px;
    border-width: 0 13px 0 5px;
    padding-left: 4px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    float: right;
    -webkit-border-top-right-radius: 16px;
    -moz-border-top-right-radius: 16px;
    border-top-right-radius: 16px;
    -webkit-border-bottom-right-radius: 16px;
    -moz-border-bottom-right-radius: 16px;
    border-bottom-right-radius: 16px;
    font-size: 12px;
    font-weight: bold;
    display: block;
    color: white;
    text-shadow: rgba(0,0,0,0.6) 0 -1px 0;
    text-decoration: none;
}
#cb-navright .cb-buttontext:hover {
    -webkit-border-image: url("images/navbutton_rightlink_bright.png") 0 13 0 5;
    -moz-border-image: url("images/navbutton_rightlink_bright.png") 0 13 0 5;
    -o-border-image: url("images/navbutton_rightlink_bright.png") 0 13 0 5;
}
#cb-navright .cb-buttontext:first-child {
    z-index: 7;
    -webkit-border-top-left-radius: 6px;
    -moz-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    -webkit-border-image: url("images/navbutton_right.png") 0 13 0 5;
    -moz-border-image: url("images/navbutton_right.png") 0 13 0 5;
    -o-border-image: url("images/navbutton_right.png") 0 13 0 5;
    border-width: 0 13px 0 5px;
    -webkit-border-top-right-radius: 16px;
    -moz-border-top-right-radius: 16px;
    border-top-right-radius: 16px;
    -webkit-border-bottom-right-radius: 16px;
    -moz-border-bottom-right-radius: 16px;
    border-bottom-right-radius: 16px;
}
#cb-navright .cb-buttontext:first-child:hover {
    -webkit-border-image: url("images/navbutton_right_bright.png") 0 13 0 5;
    -moz-border-image: url("images/navbutton_right_bright.png") 0 13 0 5;
    -o-border-image: url("images/navbutton_right_bright.png") 0 13 0 5;
}

#cb-navleft img, #cb-navright img {
    margin-top: 4px;
    height: 70%;
    border-width: 0;
}

@external #cb-navleft;
#cb-navleft {    /* this stanza is also used for IE */
    position: absolute;
    left: 9px;
    top: 4px;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
    z-index: 6;
}
#cb-navleft .cb-buttontext {
    -webkit-border-image: url("images/navbutton_leftlink.png") 0 5 0 13;
    -moz-border-image: url("images/navbutton_leftlink.png") 0 5 0 13;
    -o-border-image: url("images/navbutton_leftlink.png") 0 5 0 13;
    z-index: 8;
    margin-left: -4px;
    border-width: 0 5px 0 13px;
    padding-right: 4px;
    -webkit-border-top-left-radius: 16px;
    -moz-border-top-left-radius: 16px;
    border-top-left-radius: 16px;
    -webkit-border-bottom-left-radius: 16px;
    -moz-border-bottom-left-radius: 16px;
    border-bottom-left-radius: 16px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    float: left;
    font-size: 12px;
    font-weight: bold;
    display: block;
    color: white;
    text-shadow: rgba(0,0,0,0.6) 0 -1px 0;
    text-decoration: none;
}
#cb-navleft .cb-buttontext:hover {
    -webkit-border-image: url("images/navbutton_leftlink_bright.png") 0 5 0 13;
    -moz-border-image: url("images/navbutton_leftlink_bright.png") 0 5 0 13;
    -o-border-image: url("images/navbutton_leftlink_bright.png") 0 5 0 13;
}
#cb-navleft .cb-buttontext:first-child {
    z-index: 7;
    -webkit-border-image: url("images/navbutton_left.png") 0 5 0 13;
    -moz-border-image: url("images/navbutton_left.png") 0 5 0 13;
    -o-border-image: url("images/navbutton_left.png") 0 5 0 13;
    border-width: 0 5px 0 13px;
    -webkit-border-top-left-radius: 16px;
    -moz-border-top-left-radius: 16px;
    border-top-left-radius: 16px;
    -webkit-border-bottom-left-radius: 16px;
    -moz-border-bottom-left-radius: 16px;
    border-bottom-left-radius: 16px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    width: auto;
}
#cb-navleft .cb-buttontext:first-child:hover {
    -webkit-border-image: url("images/navbutton_left_bright.png") 0 5 0 13;
    -moz-border-image: url("images/navbutton_left_bright.png") 0 5 0 13;
    -o-border-image: url("images/navbutton_left_bright.png") 0 5 0 13;
}



@external .gwt-DialogBox;
.gwt-DialogBox {
    z-index: 10;   /* put in front of slider bar knob */
}

@external .gwt-ToggleButton;
.gwt-ToggleButton {
    width: 30px;
    text-align: center;
}

.cb-creditBar {
	padding: 0;
	margin: 1px 0 5px 0;   /* top right bottom left */
	height: 11px;
	line-height: 11px;
}
.cb-creditBar .cc-imgCreditBar {   /* a single image in the credit bar */
    margin: 0 1px 0 0;   /* top right bottom left */
    padding: 0px;
}

.cc-grid {  /* the card grid itself */
    width: 320px;
    table-layout: fixed;
    border-collapse: collapse;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 1px solid gray;
    margin: 0px;
    padding: 0px;
}

/* a row in the card grid. This is the name of the base style, and postfixed
   with a CbState, the name of the state-specific secondary style */
.cc-row {
    vertical-align: middle;
    text-align: center;
    cursor: default;
    border-top: 1px solid gray;
}
.cc-row:hover {
    border-top: 1px solid green;
    border-bottom: 1px solid green;
    background-color: #F8FFF8;
}
.cc-rowOwned {
    background-color: white;
}
.cc-rowPlanned {
    background-color: white;
}
.cc-rowAbsent {
    background-color: white;
}
.cc-rowUnaffordable {
    background-color: #F8F8F8; 
    color: gray;
}
.cc-rowPrereqFailed {
    background-color: lightgray;
    color: gray;
}
.cc-rowPrereqFailed:hover {   /* disable hover by reversing its effects */
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    background-color: lightgray;
}
.cc-rowDiscouragedBuy {
    background-color: #F8F8F8; 
}
.cc-rowDiscouragedBuy .cc-cardName {
    color: red;
}

.cc-cardName {   /* the card name in the card grid */
    cursor: default;
    font-weight: bold;
}
.cc-CostIndicator {  /* the card cost indicator in the card grid (including nominal cost) */
    text-align: right;
    margin-right: 10px;
    cursor: default;
}
.cc-CostIndicator .cc-CostNominal {  /* the card's nominal cost value in the card grid */
    font-weight: bold;
}
.cc-colState {   /* the card grid cell with the state indicator, also used for the widget */
    vertical-align: middle;
    text-align: center;
    font-size: x-large;
    font-weight: normal;
    text-shadow: gray 1px 1px 2px;
    color: #00A000;
    cursor: default;
    margin: 0;
}
.cc-colGrpIcons {
    text-align: right;
    vertical-align: top;
    padding: 4px 4px 0px 4px;  /* top right bottom left */
    line-height: 16px;   /* same as the group icon height */
}
.cc-panelGrpIcons {   /* the card grid group icon panel (not the cell) */
    padding: 0px;
    margin: 0px;
    table-layout: fixed;
    width: 16px;   /* same as the group icon height */
}
.cc-colMore {
    /* deprecated */
}
.cb-moreArrowLabel {    /* the '>>' label */
    padding-top: 8px;
    text-shadow: gray 2px 2px 3px;
    font-weight: bold;
    color: #5571b3;
    cursor: pointer;
    position: absolute;
    right: 2px;
    top: 50%;
    margin-top: -19px;
    width: 28px;
    height: 38px;
    text-align: center;
}
.cb-moreArrowLabel:hover {
    font-size: large;
}

.cb-bgtext {      /* regular text written onto the striped background */
    text-align: center;
    position: relative;
    margin: 0;
    padding: 20px 0;   /* vert horz */
    height: auto;
    width: auto;
    text-decoration: none;
    font-size: 10pt;
    color: #4C4C4C;
    text-shadow: white 0 1px 0;
}

@external .cc-tabPanelBottom;    /** TODO temp */
.cc-tabPanel {   /* the main tab panel */
    margin: 0;
    padding: 0;
    width: 320px;
    max-width: 320px;
    table-layout: fixed;
}
.cc-tabPanelBottom {   /* the bottom portion of the main tab panel ("the actual page") */
    border-color: #92c1f0;
    border-style: solid;
    border-width: 2px 1px 1px;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.cc-buttonPanel {   /* the panel of buttons on the cards tab */
    /* gets background from .cc-blueGradient on html host page */
    width: 100%;
    margin: 0;
    padding: 1px;
}
.cc-buttonThirds td {
    width: 33%;
}
.cc-button {   /* the 'revise' button and other buttons on the cards tab */
    padding: 2px 5px;  /* vert horz */
    cursor: pointer;
    /* TODO: should augment gwt-button style instead of redefining */
}

.gwt-DialogBox .Caption {
    font-size: smaller;
    font-weight: bold;
}
.cc-msgboxText {  /* the text message inside a CcMessageBox */
    font-size: smaller;
    text-align: center;
    width: 100%;
    margin: 3px 5px 8px 0px;  /* top right bottom left */
}

.cc-cursorForbidden {  /* secondary style to make a "forbidden" sign appear as mouse cursor */
    cursor: wait;  /* TODO: verbotsschild */
}

.cc-Stats {  /* the statistics panel on the cards tab */
    width: 100%;
    cursor: default;
    margin: 0;
}
.cc-Stats .cc-StatsInner {  /* the panels within the statistics panel on the cards tab */
    /* gets background from .cc-blueGradient on html host page */
    width: 100%;
    cursor: default;
    padding: 0px 3px 1px 2px;  /* top right bottom left */
}
.cc-StatsIndicator {
    color: black;
}
.cc-StatsIndicator .cc-StatsLabel {  /* secondary style for the labels in the statistics panel on the cards tab */
    text-shadow: #A0A0A0 1px 1px 1px;
}
.cc-StatsIndicator .cc-StatsPlanned {  /* secondary style for plan info in the statistics panel on the cards tab */
    color: #00A000;
}
.cc-StatsIndicator .cc-StatsProblem {  /* secondary style for danger indication in the statistics panel on the cards tab */
    color: #A00000;
}
.cc-StatsIndicatorDisabled {
    color: gray;
}
.cc-StatsIndicatorDisabled .cc-StatsLabel {  /* secondary style for the labels in the statistics panel on the cards tab */
    text-shadow: none;
}
.cc-StatsIndicatorDisabled .cc-StatsPlanned {  /* secondary style for plan info in the statistics panel on the cards tab */
    color: #66CC99;
}
.cc-StatsIndicatorDisabled .cc-StatsProblem {  /* secondary style for danger indication in the statistics panel on the cards tab */
    color: #800000;
}

.cc-Label {
    color: black;
}
.cc-LabelDisabled {
    color: gray;
    text-shadow: none;
}

.cc-heading {
    color: black;
    text-shadow: gray 2px 2px 2px;   /* horz vert blur_radius */
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: 0.4em;
    margin: 3px 0px 5px 0px;   /* top right bottom left */
    cursor: default;
}

.cb-DisplayWidget-1line {
    height: 18px;
    position: absolute;
    margin-top: -9px;
    padding: 0;
    left: 31px;
    top: 50%;
    overflow: hidden;
}
.cb-DisplayWidget-2line {
    height: 38px;
    position: absolute;
    margin-top: -19px;
    padding: 0;
    left: 31px;
    top: 50%;
    overflow: hidden;
}
.cb-DisplayWidget-2line .cc-GameName {
    color: black;
}
.cb-DisplayWidget-2line .cc-Variant {
    color: gray;
    font-size: small;
}

.cc-emptyListLabel {
    color: gray;
    width: 100%;
    text-align: center;
    text-shadow: #C0C0C0 1px 1px 1px;
    margin-top: 1em;
}

.cc-colMarker {
    padding: 9px 2px;   /* vert horz */
    position: absolute;
    top: 50%;
    left: 3px;
    margin-top: -10px;
    cursor: pointer;
    overflow: hidden;
}

.cc-marginBottom10 {
    margin-bottom: 10px;
}

.cc-games-VersionInfo {
    font-size: 9px;
    font-weight: lighter;
    margin: 0;
    padding: 0;
    width: auto;
    height: 12px;
    line-height: 12px;
    overflow: hidden;
    position: absolute;
    bottom: 3px;
    right: 3px;
    color: #b0bccd;
    cursor: default;
    text-shadow: none;
    z-index: 50;
}


/* - - - - -  'Details' View  - - - - - */

.cc-detail-CardTitle {
    margin-top: 0.5em;
    font-size: larger;
    font-weight: bold;
    cursor: default;
}
.cc-detail-Section {
    margin-top: 0.7em;
}
.cc-detail-SectionTitle {
    font-weight: bold;
    cursor: default;
}
.cc-detail-SectionTitle .cc-detail-SectionTitlePlanned {
    color: #00A000;
}

.cc-detail-groupWidget {
    margin-right: 0.5em;
    vertical-align: bottom;
    white-space: nowrap;   /* keep icon and group name on one line */
    cursor: default;
}
.cc-detail-groupWidget .cc-detail-groupWidgetImage {
    margin: 0px 1px 0px 0px;    /* top right bottom left */
    padding: 0;
    position: relative;
    top: 2px;
    cursor: default;
}

.cc-detail-cardWidgetOuterPanel {
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    cursor: pointer;
}
.cc-detail-cardWidgetOuterPanel:hover {
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    cursor: pointer;
    text-decoration: underline;
}
.cc-detail-cardWidgetStateOwned {
    color: black;
    font-weight: bold;
}
.cc-detail-cardWidgetStatePlanned {
    color: #00A000;
}
.cc-detail-cardWidgetStateOther {
    color: #A0A0A0;
}
.cc-detail-cardWidgetStateOther img {
   opacity: 0.4;
   filter: "alpha(opacity=40)";
}
.cc-detail-cardWidgetInnerPanel {
    margin: 0;
    padding: 0;
    white-space: nowrap;   /* keep icon and group name on one line */
}
.cc-detail-cardWidgetInnerPanel .cc-detail-groupWidgetImage {
    margin: 0;
    padding: 0;
    position: relative;
    top: 2px;
}
.cc-detail-cardWidgetText1 {
    margin-left: 3px;
}

.cc-detail-StateDescription {
    font-style: italic;
}


/* - - - - -  CbCommoditySpinner widget  - - - - - */

.cc-W-CommoditySpinner-outer {
    width: 150px;
    background-color: #f0f0ff;
    margin: 0px 5px;    /* vert horz */
    padding: 0;
}

.cc-W-CommoditySpinner-outer-wine {
    width: 98px;
    background-color: #f0f0ff;
    margin: 0px 4px;    /* vert horz */
    padding: 0;
}

.cc-W-CommoditySpinner-HP-Title {
    width: 100%;
    height: 22px;
    line-height: 22px;
    margin: 0;
    padding: 0px 1px;    /* vert horz */
    vertical-align: top;
    overflow: visible;
}

.cc-W-CommoditySpinner-Lbl-Title {
    margin: 0;
    padding: 0;
    text-shadow: gray 2px 2px 2px;
    color: #000080;
    font-variant: small-caps;
}

.cc-W-CommoditySpinner-Lbl-Title-disabled {
    margin: 0;
    padding: 0;
    text-shadow: #e4e4ff 2px 2px 2px;
    color: #c0c0ff;
    font-variant: small-caps;
}
.cc-W-CommoditySpinner-Lbl-Base {
    z-index: 2;  /* TODO TEMP should be -1 */
    color: #e4e4ff;
    font-weight: bold;
    font-size: 3em;
    vertical-align: top;
    margin: 0;
    padding: 0;
    position: relative;
    top: 0.2em;
}

.cc-W-CommoditySpinner-Button {
    z-index: 3;
    width: 35px;
    height: 40px;
    font-size: 2em;
}
