/* TODO header text
   TODO check iWebKit license (should be ok)
*/

@def MIN_APP_WIDTH 320px;
@def MAX_APP_WIDTH 400px;

body, table td, input, select {
    font-family: helvetica, sans-serif;
    font-size: medium;
}
body {
    background-color: white;
}
@external .enableCssHover;

.cb-AppWidget {
	/* currently empty */
}

@external #injectionPoint;
#injectionPoint {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    font-family: helvetica, sans-serif;
    font-size: medium;
    margin: 0;
    padding: 0;
    min-height: 100%;
    width: 100%;
    min-width: MIN_APP_WIDTH;
    max-width: MAX_APP_WIDTH;
    overflow: hidden;
    background: url("images/background.gif");   /* must use GIF, because Safari barfs on the PNG version */
}

.cb-AbstractListView-margin {
    /* margin for all abstract list views; used so that the title and bottom bars
       do not obscure part of the list */
    padding: 38px 0 38px 0;  /* top right bottom left */
    margin: 0;
}


/* ----- Title Bar / Bottom Bar -------------------------------------------------- */

.cb-titlebar-ie-wrapper, .cb-bottombar-ie-wrapper, .cb-extrabar-ie-wrapper {
    /* In order to show a gradient in IE, the div must be absolutely positioned and
       have a given width and height. So the title bar must be thus and wrapped in
       the fixed div. */
    position: fixed;
    margin: 0;
    padding: 0;
    left: 0;
    width: 100%;
    min-width: MIN_APP_WIDTH;
    max-width: MAX_APP_WIDTH;
    white-space: nowrap;
    overflow: hidden;
    color: white;
    z-index: 2;
    cursor: default;
}
.cb-titlebar-ie-wrapper, .cb-bottombar-ie-wrapper {
    height: 32px;
    line-height: 32px;
    font-size: 13pt;
    font-weight: bold;
    text-align: center;
}
@external .cb-titlebar-ie-wrapper;
.cb-titlebar-ie-wrapper {
    top: 0;
}
.cb-titlebar-ie-wrapper .cb-titlebar,
.cb-bottombar-ie-wrapper .cb-bottombar,
.cb-extrabar-ie-wrapper .cb-extrabar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@external .gwt-InlineLabel;
.cb-bottombar .gwt-InlineLabel {    /* 'Revising ...' label */
    padding-left: 6px;
}
@external .cb-titlebar-gradient;
.cb-titlebar-text-shadow {
    text-shadow: rgba(0,0,0,0.6) 0 -1px 0;
}
.cb-bottombar-ie-wrapper {
    bottom: 0;
    border-width: 1px 0 0 0;   /* top right bottom left */
    font-size: 11pt;
    text-align: left;
}


/* ----- Extra Bar --------------------------------------------------------------- */

@external .cb-titlebar-ie-wrapper, .cb-extrabar-ie-wrapper;
.cb-extrabar-ie-wrapper, .cb-bottombar-ie-wrapper {
    border-color: #808080;
    border-style: solid;
}
.cb-extrabar-ie-wrapper {
    top: 32px;
    line-height: 42px;
    height: 42px;
    border-width: 0 0 1px 0;   /* top right bottom left */
}
.cb-extrabar-funds {
    height: 23px;
    line-height: 23px;
    font-size: 17px;
}
@external .cb-extrabar-gradient;

.cb-extrabar .cb-northwest, .cb-extrabar .cb-northeast,
.cb-extrabar .cb-southwest, .cb-extrabar .cb-southeast {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 21px;
    line-height: 21px;
    width: auto;
}
.cb-extrabar .cb-northwest {
    top: 0;
    left: 0;
}
.cb-extrabar-funds .cb-northwest {
    left: 6px !important;
}
.cb-extrabar .cb-northeast {
    top: 0;
    right: 0;
}
.cb-extrabar-funds .cb-northeast {
    right: 7px !important;
}
.cb-extrabar .cb-southwest {
    bottom: 0;
    left: 0;
}
.cb-extrabar .cb-southeast {
    bottom: 0;
    right: 0;
}


/* ----- Page items in the list type views --------------------------------------- */

.cb-pageitem {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: white;
    border: #878787 solid 1px;
    font-size: 12pt;
    margin: 6px;
    padding: 0;
    position: relative;
    display: block;
    width: auto;
    overflow: hidden;
    cursor: default;
}

/* TODO Safari u.ä. machen die runden zu eckigen Ecken beim Hover */
.cb-pageitem .cb-general-listitem {   /* a "row" in the list */
    position: relative;
    display: block;
    width: auto;
    margin: 0;
    padding: 3px 9px;   /* vert horz */
    border-top: 1px solid #878787;
    overflow: hidden;
}
.cb-pageitem .cb-general-listitem:first-child {
    border-top: none;
}
body.enableCssHover .cb-pageitem .cb-general-listitem:hover {
    background-color: #f0f0f0;
}

.cb-pageitem .cb-textbox {
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
    position: relative;
    border-top: 1px solid #878787;
}
.cb-pageitem .cb-textbox:first-child {
    border-top: none;
}
.cb-pageitem .cb-textbox .cb-textbox-inner {
    display: block;
    width: auto;
    margin: 5px 9px 5px 30px;   /* top right bottom left */
    text-indent: -32px;
    padding: 0;
    position: relative;
}
.cb-pageitem .cb-textbox .cb-textbox-inner .cb-header {
    display: inline;
    margin-left: 9px;
    padding: 0;
    font-weight: bold;
    color: rgb(73,102,145);
}
.cb-pageitem .cb-textbox .cb-header .cb-detail-SectionTitlePlanned {
    color: #00A000;
}

.cb-pageitem .cb-checkbox-row,
.cb-pageitem .cb-input-row {
    display: block;
    width: auto;
    position: relative;
    height: 39px;
    line-height: 32px;
    border-top: 1px solid #878787;
}
.cb-pageitem .cb-checkbox-row:first-child,
.cb-pageitem .cb-input-row:first-child {
    border-top: 0;
}
.cb-pageitem .cb-checkbox-row .cb-checkbox-name,
.cb-pageitem .cb-checkbox-row .cb-checkbox-name-disabled,
.cb-pageitem .cb-input-row .cb-input-name,
.cb-pageitem .cb-input-row .cb-input-name-disabled {
    position: relative;
    top: 4px;
    left: 9px;
    margin: 0;
    padding: 0;
    width: auto;
    font-weight: bold;
    font-size: 17px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.cb-pageitem .cb-checkbox-row .cb-checkbox-name,
.cb-pageitem .cb-input-row .cb-input-name {
    color: black;
}
.cb-pageitem .cb-checkbox-row .cb-checkbox-name-disabled,
.cb-pageitem .cb-input-row .cb-input-name-disabled {
    color: lightgray;
}

.cb-pageitem .cb-input-row input,
.cb-pageitem .cb-input-row select {
    height: 23px;
    float: right;
    margin: 8px 8px 0 0;
    padding: 0 6px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #878787;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.cb-pageitem .cb-input-row .cb-input-display,
.cb-pageitem .cb-input-row .cb-input-display-disabled {
    float: right;
    margin: 10px 8px 0 0;
    padding: 0 7px;
    width: auto;
    font-weight: bold;
    font-size: 17px;
    height: 20px;
    line-height: 20px;
    white-space: nowrap;
}
.cb-pageitem .cb-input-row .cb-input-display-disabled {
    color: lightgray;
}
.cb-pageitem .cb-input-row input {
    width: 66px;
}
.cb-pageitem .cb-input-row select {
    width: 120px;
    padding: 0 0 0 6px;
    font-size: 15px;
    font-weight: normal;
}
.cb-pageitem .cb-input-row select option {
    padding: 0 0 0 6px;
}


/* ----- Styled Checkbox --------------------------------------------------------- */

.cb-checkbox,
.cb-checkbox-disabled,
.cb-checkbox-checked,
.cb-checkbox-checked-disabled {
    width: 80px;
    height: 23px;
    background: url('images/checkbox.png') no-repeat;
    background-position: top right;
    border: 0;
    float: right;
    margin: 8px 8px 0 0;
    cursor: pointer;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;

    -moz-animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    -moz-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    /* no opera animation, because opera can't animate background-position */
    /* TODO MSIE? */
    /* keyframes in keyframes.css */
}
.cb-checkbox-checked,
.cb-checkbox-checked-disabled {
    background-position: top left;
}
.cb-checkbox-disabled {
    background: url('images/checkbox_disabled.png') no-repeat;
    background-position: top right;
    cursor: default !important;
}
.cb-checkbox-checked-disabled {
    background: url('images/checkbox_disabled.png') no-repeat;
    background-position: top left;
    cursor: default !important;
}


/* ----- Icon Buttons in Bottom Bar ---------------------------------------------- */

@external #cb-iconbutton-left, #cb-iconbutton-center, #cb-iconbutton-right;
#cb-iconbutton-left, #cb-iconbutton-center, #cb-iconbutton-right {
    position: absolute;
    top: 1px;
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    z-index: 4;
}
#cb-iconbutton-left {
    left: 65px;
}
#cb-iconbutton-center {
    left: 145px;
}
#cb-iconbutton-right {
    left: 225px;
}
body.enableCssHover #cb-iconbutton-left:hover,
body.enableCssHover #cb-iconbutton-center:hover,
body.enableCssHover #cb-iconbutton-right:hover {
    background: url("images/icon_glow.png") no-repeat scroll 0 0 transparent;
}

.cb-iconbutton-disabled {
    opacity: 0.4;
    filter: "alpha(opacity=40)";
    cursor: default !important;    /* override the cursor set by id selector */
    background: none !important;   /* override hover */
}


/* ----- Text Buttons in Bottom Bar ---------------------------------------------- */

@external #cb-barbutton-left, #cb-barbutton-center, #cb-barbutton-right;
#cb-barbutton-left, #cb-barbutton-center, #cb-barbutton-right {
    position: absolute;
    top: 4px;
    height: 24px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    cursor: pointer;
    z-index: 6;
}
#cb-barbutton-left {
    left: 57px;
}
#cb-barbutton-center {
    left: 137px;
}
#cb-barbutton-right {
    left: 217px;
}
#cb-barbutton-left .cb-buttontext,
#cb-barbutton-center .cb-buttontext,
#cb-barbutton-right .cb-buttontext {
    z-index: 8;
    margin: 0;
    padding: 0 4px;   /* vert horz */
    border-width: 0 5px 0 5px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-size: 12px;
    font-weight: bold;
    display: block;
    text-decoration: none;
    height: 24px;
    color: white;
    text-shadow: rgba(0,0,0,0.6) 0 -1px 0;
    -webkit-border-image: url("images/button.png") 0 5 0 5;
    -moz-border-image: url("images/button.png") 0 5 0 5;
    -o-border-image: url("images/button.png") 0 5 0 5;
}

body.enableCssHover #cb-barbutton-left:hover .cb-buttontext,
body.enableCssHover #cb-barbutton-center:hover .cb-buttontext,
body.enableCssHover #cb-barbutton-right:hover .cb-buttontext {
    -webkit-border-image: url("images/button_bright.png") 0 5 0 5;
    -moz-border-image: url("images/button_bright.png") 0 5 0 5;
    -o-border-image: url("images/button_bright.png") 0 5 0 5;
}

#cb-barbutton-left.cb-barbutton-disabled,
#cb-barbutton-center.cb-barbutton-disabled,
#cb-barbutton-right.cb-barbutton-disabled {
    cursor: default;
}
.cb-barbutton-disabled .cb-buttontext {
    color: #889bb3 !important;
    text-shadow: rgba(0,0,0,0.4) 0 -1px 0 !important;
    -webkit-border-image: url("images/button_disabled.png") 0 5 0 5 !important;
    -moz-border-image: url("images/button_disabled.png") 0 5 0 5 !important;
    -o-border-image: url("images/button_disabled.png") 0 5 0 5 !important;
}


/* ----- Navigational Buttons in Title Bar --------------------------------------- */

@external #cb-navright;
#cb-navright {    /* this stanza is also used for IE */
    position: absolute;
    right: 9px;
    top: 4px;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
    z-index: 6;
}
#cb-navright .cb-buttontext,
#cb-navright .cb-buttontext-disabled {
    z-index: 8;
    margin-right: -4px;
    border-width: 0 13px 0 5px;
    padding-left: 4px;
    -webkit-border-top-left-radius: 6px;
    -moz-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    float: right;
    -webkit-border-top-right-radius: 16px;
    -moz-border-top-right-radius: 16px;
    border-top-right-radius: 16px;
    -webkit-border-bottom-right-radius: 16px;
    -moz-border-bottom-right-radius: 16px;
    border-bottom-right-radius: 16px;
    font-size: 12px;
    font-weight: bold;
    display: block;
    text-decoration: none;
}
#cb-navright .cb-buttontext {
    color: white;
    text-shadow: rgba(0,0,0,0.6) 0 -1px 0;
    -webkit-border-image: url("images/navbutton_rightlink.png") 0 13 0 5;
    -moz-border-image: url("images/navbutton_rightlink.png") 0 13 0 5;
    -o-border-image: url("images/navbutton_rightlink.png") 0 13 0 5;
}
#cb-navright .cb-buttontext-disabled {
    color: #889bb3;
    text-shadow: rgba(0,0,0,0.4) 0 -1px 0;
    -webkit-border-image: url("images/navbutton_rightlink_disabled.png") 0 13 0 5;
    -moz-border-image: url("images/navbutton_rightlink_disabled.png") 0 13 0 5;
    -o-border-image: url("images/navbutton_rightlink_disabled.png") 0 13 0 5;
    cursor: default;
}
body.enableCssHover #cb-navright .cb-buttontext:hover {
    -webkit-border-image: url("images/navbutton_rightlink_bright.png") 0 13 0 5;
    -moz-border-image: url("images/navbutton_rightlink_bright.png") 0 13 0 5;
    -o-border-image: url("images/navbutton_rightlink_bright.png") 0 13 0 5;
}
#cb-navright .cb-buttontext:first-child,
#cb-navright .cb-buttontext-disabled:first-child {
    z-index: 7;
    -webkit-border-top-left-radius: 6px;
    -moz-border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-bottom-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-width: 0 13px 0 5px;
    -webkit-border-top-right-radius: 16px;
    -moz-border-top-right-radius: 16px;
    border-top-right-radius: 16px;
    -webkit-border-bottom-right-radius: 16px;
    -moz-border-bottom-right-radius: 16px;
    border-bottom-right-radius: 16px;
}
#cb-navright .cb-buttontext:first-child {
    color: white;
    text-shadow: rgba(0,0,0,0.6) 0 -1px 0;
    -webkit-border-image: url("images/navbutton_right.png") 0 13 0 5;
    -moz-border-image: url("images/navbutton_right.png") 0 13 0 5;
    -o-border-image: url("images/navbutton_right.png") 0 13 0 5;
}
#cb-navright .cb-buttontext-disabled:first-child {
    color: #889bb3;
    text-shadow: rgba(0,0,0,0.4) 0 -1px 0;
    -webkit-border-image: url("images/navbutton_right_disabled.png") 0 13 0 5;
    -moz-border-image: url("images/navbutton_right_disabled.png") 0 13 0 5;
    -o-border-image: url("images/navbutton_right_disabled.png") 0 13 0 5;
    cursor: default;
}
body.enableCssHover #cb-navright .cb-buttontext:first-child:hover {
    -webkit-border-image: url("images/navbutton_right_bright.png") 0 13 0 5;
    -moz-border-image: url("images/navbutton_right_bright.png") 0 13 0 5;
    -o-border-image: url("images/navbutton_right_bright.png") 0 13 0 5;
}

#cb-navleft img, #cb-navright img {
    margin: 4px 0 0 0;
    padding: 0;
    border-width: 0;
}

@external #cb-navleft;
#cb-navleft {    /* this stanza is also used for IE */
    position: absolute;
    left: 9px;
    top: 4px;
    height: 24px;
    line-height: 24px;
    cursor: pointer;
    z-index: 6;
}
#cb-navleft .cb-buttontext,
#cb-navleft .cb-buttontext-disabled {
    z-index: 8;
    margin-left: -4px;
    border-width: 0 5px 0 13px;
    padding-right: 4px;
    -webkit-border-top-left-radius: 16px;
    -moz-border-top-left-radius: 16px;
    border-top-left-radius: 16px;
    -webkit-border-bottom-left-radius: 16px;
    -moz-border-bottom-left-radius: 16px;
    border-bottom-left-radius: 16px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    float: left;
    font-size: 12px;
    font-weight: bold;
    display: block;
    text-decoration: none;
    height: 24px;
}
#cb-navleft .cb-buttontext {
    color: white;
    text-shadow: rgba(0,0,0,0.6) 0 -1px 0;
    -webkit-border-image: url("images/navbutton_leftlink.png") 0 5 0 13;
    -moz-border-image: url("images/navbutton_leftlink.png") 0 5 0 13;
    -o-border-image: url("images/navbutton_leftlink.png") 0 5 0 13;
}
#cb-navleft .cb-buttontext-disabled {
    color: #889bb3;
    text-shadow: rgba(0,0,0,0.4) 0 -1px 0;
    -webkit-border-image: url("images/navbutton_leftlink_disabled.png") 0 5 0 13;
    -moz-border-image: url("images/navbutton_leftlink_disabled.png") 0 5 0 13;
    -o-border-image: url("images/navbutton_leftlink_disabled.png") 0 5 0 13;
    cursor: default;
}
body.enableCssHover #cb-navleft .cb-buttontext:hover {
    -webkit-border-image: url("images/navbutton_leftlink_bright.png") 0 5 0 13;
    -moz-border-image: url("images/navbutton_leftlink_bright.png") 0 5 0 13;
    -o-border-image: url("images/navbutton_leftlink_bright.png") 0 5 0 13;
}
#cb-navleft .cb-buttontext:first-child,
#cb-navleft .cb-buttontext-disabled:first-child {
    z-index: 7;
    border-width: 0 5px 0 13px;
    -webkit-border-top-left-radius: 16px;
    -moz-border-top-left-radius: 16px;
    border-top-left-radius: 16px;
    -webkit-border-bottom-left-radius: 16px;
    -moz-border-bottom-left-radius: 16px;
    border-bottom-left-radius: 16px;
    -webkit-border-top-right-radius: 6px;
    -moz-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
    width: auto;
    height: 24px;
}
#cb-navleft .cb-buttontext:first-child {
    color: white;
    text-shadow: rgba(0,0,0,0.6) 0 -1px 0;
    -webkit-border-image: url("images/navbutton_left.png") 0 5 0 13;
    -moz-border-image: url("images/navbutton_left.png") 0 5 0 13;
    -o-border-image: url("images/navbutton_left.png") 0 5 0 13;
}
#cb-navleft .cb-buttontext-disabled:first-child {
    color: #889bb3;
    text-shadow: rgba(0,0,0,0.4) 0 -1px 0;
    -webkit-border-image: url("images/navbutton_left_disabled.png") 0 5 0 13;
    -moz-border-image: url("images/navbutton_left_disabled.png") 0 5 0 13;
    -o-border-image: url("images/navbutton_left_disabled.png") 0 5 0 13;
    cursor: default;
}
body.enableCssHover #cb-navleft .cb-buttontext:first-child:hover {
    -webkit-border-image: url("images/navbutton_left_bright.png") 0 5 0 13;
    -moz-border-image: url("images/navbutton_left_bright.png") 0 5 0 13;
    -o-border-image: url("images/navbutton_left_bright.png") 0 5 0 13;
}


/* ----- Cards Widget in 'Cards' View -------------------------------------------- */

.cb-cw-outerDiv {   /* the outermost <div> of the widget */
    margin: 0;
    padding: 0;
    position: relative;
    top: 0;
    left: 0;
    height: 38px;
    width: auto;
    min-width: 290px;
}
.cb-cw-outerDiv .cb-cw-stateIconDiv {   /* the <div> around the card state <img> */
    margin: 0;
    padding: 0;
    position: absolute;
    width: 24px;
    height: 30px;
    line-height: 30px;
    top: 4px;
    left: 0;
}
.cb-cw-outerDiv .cb-cw-GrpIcons {   /* the card group icon <div> */
    padding: 0;
    margin: 0;
    width: 16px;   /* same as the group icon height */
    height: 34px;
    line-height: 34px;
    position: absolute;
    left: 29px;
    top: 2px;
}
.cb-cw-outerDiv .cb-cw-GrpIcons .cb-cw-grpIcon1,
.cb-cw-outerDiv .cb-cw-GrpIcons .cb-cw-grpIcon2 {
    /* margin-bottom: 1px; */
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    width: 16px;
    height: 16px;
    line-height: 16px;
}
.cb-cw-outerDiv .cb-cw-GrpIcons .cb-cw-grpIcon1 {
    top: 0;
}
.cb-cw-outerDiv .cb-cw-GrpIcons .cb-cw-grpIcon2 {
    top: 18px;
}
.cb-cw-outerDiv .cb-cw-p3 {
    height: 38px;
    width: auto;
    /* min-width: 226px; */
    padding: 0 30px 0 47px;   /* top right bottom left */
    margin: 0;
    position: relative;
}
.cb-cw-outerDiv .cb-cw-cardName {
    position: relative;
    top: 0;
    left: 0;
    font-weight: bold;
    width: auto;
}
.cb-cw-outerDiv .cb-cw-creditBar {
    padding: 0;
    margin: 3px 0 0 0;
    height: 11px;
    line-height: 11px;
    width: auto;
    position: relative;
    bottom: 0;
    left: 0;
    white-space: nowrap;
}
.cb-cw-outerDiv .cb-cw-creditBar .cb-cw-creditBar-img {   /* a credit bar fragment */
    margin: 0 1px 0 0;   /* top right bottom left */
    padding: 0;
}
.cb-cw-outerDiv .cb-cw-CostIndicator {  /* the card cost indicator in the card grid (including nominal cost) */
    margin: 0;
    padding: 0;
    white-space: nowrap;
    position: absolute;
    right: 30px;
    top: 0;
}
.cb-cw-outerDiv .cb-cw-CostIndicator .cb-cw-CostNominal {  /* the card's nominal cost value in the card grid */
    font-weight: bold;
}


/* ----- 'Cards' View ------------------------------------------------------------ */

.cb-CardsView-margin {
    /* the title bar, extra bar, and bottom bar should not obscure part of the list */
    padding: 74px 0 32px 0;  /* top right bottom left */
    margin: 0;
}

.cb-CardsView-stateUnaffordable {
    background-color: #f8f8ff; 
    color: #6d84a2;
}
.cb-CardsView-stateDiscouragedBuy {
    background-color: #fff8f8; 
    color: red;
}
.cb-CardsView-stateDiscouragedBuy .cb-cw-outerDiv .cb-cw-cardName {
    color: red;
}
.cb-CardsView-statePrereqFailed {
    background-color: lightgray;
    color: gray;
}
.cb-CardsView-statePrereqFailed:active {
    cursor: not-allowed;   /* show 'forbidden' sign as cursor while clicked */
}
.cb-CardsView-statePrereqFailed .cb-cw-outerDiv .cb-cw-cardName {
    color: gray;
}
body.enableCssHover .cb-CardsView-statePrereqFailed:hover {
    /* disable hover by reversing its effects */
    background-color: lightgray !important;
}


/* ----- 'Details' View ---------------------------------------------------------- */

.cb-detail-groups {
    position: relative;
    left: 9px;
    color: #4C4C4C;
    padding: 1px 0 3px 0;
    white-space: nowrap;   /* keep icon and group name on one line */
    cursor: default;
}
.cb-detail-groups .cc-detail-groupWidgetImage {
    margin: 0px 2px 0px 8px;    /* top right bottom left */
    padding: 0;
    position: relative;
    top: 2px;
}


/* ----- 'Funds' View ------------------------------------------------------------ */

.cb-FundsView-margin {
    /* the title bar, extra bar, and bottom bar should not obscure part of the list */
    padding: 56px 0 32px 0;  /* top right bottom left */
    margin: 0;
}


@external .gwt-DialogBox;
.gwt-DialogBox {
    z-index: 20;   /* put in front of slider bar knob */
}
@external .gwt-PopupPanelGlass;
.gwt-PopupPanelGlass {
    z-index: 19;   /* put in front of slider bar knob */
}

@external .gwt-ToggleButton;
.gwt-ToggleButton {
    width: 30px;
    text-align: center;
}

.cb-moreArrowLabel {    /* the '>>' label widget */
    padding: 0;
    margin: 0;
    cursor: pointer;
    position: absolute;
    right: 2px;
    top: 3px;
    width: 28px;
    height: 38px;
}
body.enableCssHover .cb-moreArrowLabel:hover {
    font-size: larger;
}
.cb-moreArrowLabel-smaller {   /* for AbstractListView */
    height: 32px;
}
.cb-moreArrowLabel .cb-moreArrowLabel-text {    /* the '>>' label text */
    padding: 0;
    text-shadow: gray 2px 2px 3px;
    font-weight: bold;
    color: #5571b3;
    position: absolute;
    left: 4px;
    top: 50%;
    margin-top: -10px;  /* half this div's height; TODO: use icon for precise positioning */
}

.cb-bgtitle {      /* header text written onto the striped background */
    position: relative;
    font-weight: bold;
    font-size: 17px;
    right: 20px;
    left: 9px;
    color: #4C4C4C;
    text-shadow: white 0 1px 0;
    padding: 1px 0 3px 8px;
    cursor: default;
}
.cb-bgtext {      /* regular text written onto the striped background */
    text-align: center;
    position: relative;
    margin: 0;
    padding: 20px 0;   /* vert horz */
    height: auto;
    width: auto;
    text-decoration: none;
    font-size: 10pt;
    color: #4C4C4C;
    text-shadow: white 0 1px 0;
}

.cc-buttonPanel {   /* the panel of buttons on the cards tab */
    /* gets background from .cc-blueGradient on html host page */
    width: 100%;
    margin: 0;
    padding: 1px;
}
.cc-button {   /* the 'revise' button and other buttons on the cards tab */
    padding: 2px 5px;  /* vert horz */
    cursor: pointer;
    /* TODO: should augment gwt-button style instead of redefining */
}

.gwt-DialogBox .Caption {
    font-size: smaller;
    font-weight: bold;
}
.cc-msgboxText {  /* the text message inside a CcMessageBox */
    font-size: smaller;
    text-align: center;
    width: 100%;
    margin: 3px 5px 8px 0px;  /* top right bottom left */
}

.cc-StatsIndicator {
    color: black;
}
.cc-StatsIndicator .cc-StatsLabel {  /* secondary style for the labels in the statistics panel on the cards tab */
    text-shadow: #A0A0A0 1px 1px 1px;
}
.cc-StatsIndicator .cc-StatsPlanned {  /* secondary style for plan info in the statistics panel on the cards tab */
    color: #00A000;
}
.cc-StatsIndicator .cc-StatsProblem {  /* secondary style for danger indication in the statistics panel on the cards tab */
    color: #A00000;
}
.cc-StatsIndicatorDisabled {
    color: gray;
}
.cc-StatsIndicatorDisabled .cc-StatsLabel {  /* secondary style for the labels in the statistics panel on the cards tab */
    text-shadow: none;
}
.cc-StatsIndicatorDisabled .cc-StatsPlanned {  /* secondary style for plan info in the statistics panel on the cards tab */
    color: #66CC99;
}
.cc-StatsIndicatorDisabled .cc-StatsProblem {  /* secondary style for danger indication in the statistics panel on the cards tab */
    color: #800000;
}

.cc-Label {
    color: black;
}
.cc-LabelDisabled {
    color: gray;
    text-shadow: none;
}

.cb-DisplayWidget-wrapper {
    margin: 0;
    padding: 0;
    height: 32px;
    line-height: 32px;
    width: auto;
    position: relative;
    top: 0;
    left: 24px;
}
.cb-DisplayWidget-1line {
    height: 18px;
    line-height: 18px;
    position: absolute;
    margin-top: -9px;
    padding: 0;
    left: 0;
    top: 50%;
}
.cb-DisplayWidget-2line {
    height: 32px;
    line-height: 16px;
    margin: 0;
    padding: 0;
    position: relative;
}
.cb-DisplayWidget-2line .cc-GameName {
    color: black;
}
.cb-DisplayWidget-2line .cc-Variant {
    color: gray;
    font-size: smaller;
}

.cc-colMarker {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 9px;   /* (38px (row height) - 20px (marker height)) / 2 */
    left: 3px;
    cursor: pointer;
}

.cc-marginBottom10 {
    margin-bottom: 10px;
}

.cc-games-VersionInfo {
    font-size: 9px;
    font-weight: lighter;
    margin: 0;
    padding: 0;
    width: auto;
    height: 12px;
    line-height: 12px;
    overflow: hidden;
    position: absolute;
    bottom: 3px;
    right: 3px;
    color: #b0bccd;
    cursor: default;
    text-shadow: none;
    z-index: 50;
}


/* - - - - -  'Details' View  - - - - - */

.cc-detail-CardTitle {
    margin-top: 0.5em;
    font-size: larger;
    font-weight: bold;
    cursor: default;
}
.cc-detail-Section {
    margin-top: 0.7em;
}
.cc-detail-SectionTitle {
    font-weight: bold;
    cursor: default;
}

.cc-detail-groupWidget {
    margin-right: 0.5em;
    vertical-align: bottom;
    white-space: nowrap;   /* keep icon and group name on one line */
    cursor: default;
}
.cc-detail-groupWidget .cc-detail-groupWidgetImage {
    margin: 0px 1px 0px 0px;    /* top right bottom left */
    padding: 0;
    position: relative;
    top: 2px;
    cursor: default;
}

.cc-detail-cardWidgetOuterPanel {
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    cursor: pointer;
}
.cc-detail-cardWidgetOuterPanel:hover {
    margin: 0;
    padding: 0;
    vertical-align: bottom;
    cursor: pointer;
    text-decoration: underline;
}
.cc-detail-cardWidgetStateOwned {
    color: black;
    font-weight: bold;
}
.cc-detail-cardWidgetStatePlanned {
    color: #00A000;
}
.cc-detail-cardWidgetStateOther {
    color: #A0A0A0;
}
.cc-detail-cardWidgetStateOther img {
   opacity: 0.4;
   filter: "alpha(opacity=40)";
}
.cc-detail-cardWidgetInnerPanel {
    margin: 0;
    padding: 0;
    white-space: nowrap;   /* keep icon and group name on one line */
}
.cc-detail-cardWidgetInnerPanel .cc-detail-groupWidgetImage {
    margin: 0;
    padding: 0;
    position: relative;
    top: 2px;
}
.cc-detail-cardWidgetText1 {
    margin-left: 3px;
}

.cc-detail-StateDescription {
    font-style: italic;
    padding: 6px 9px !important;  /* override pageitem */
}
