/*
 * CSS used on all CivBuddy pages.
 */


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 * Background
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

body {
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../img/lion-bg.png);
    background-attachment: fixed;
    background-size: 40%;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 * Navbar Common
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.navbar {
    padding: 0.5rem 1rem;
}
.navbar .row {
    flex-wrap: nowrap;
    width: 100%;
}
.navbar .row ul {
    width: min-content;
}
.navbar a.nav-link, .navbar p {
    white-space: nowrap;
}
.navbar .fix-padding {
    font-size: 1.171875rem;
    padding: 0.5rem 0;  /* 2x 0.32421875rem */
}

div.card-container {
    margin-top: calc(60px + 1rem);
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 * Icon sizing and spacing
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

img {
    position: relative;
    height: 1em;
}
img.flag {
    top: -3px;
}
.card img {
    top: -2px;
    margin-right: 0.5em;
}
button > span.oi {
    font-size: 0.8em;
}
.navbar span.oi {
    font-size: 0.9em;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 * Modal Dialogs
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

div.modal-dialog {
    margin-top: 160px;
}
@media (max-height: 780px) {
    div.modal-dialog {
        margin-top: 10px;
    }
}
.modal-backdrop.show {
    opacity: 0.7;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 * Miscellaneous Fixes
 * - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

button:not(.disabled):hover {
    cursor: pointer;
}

/* Assign class "dropdown-menu-right" to the dropdown div
 * to fix dropdown menu disappearing off-screen on the right side */
nav.navbar div.dropdown-menu-right {
    position: absolute;
    right: 0;
    left: auto;
}
