// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//  Card Info Modal
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//
div.modal-content {
    .row>.card-groups {
        min-width: 34px;
    }
    .modal-title>img,
    .card-groups>img {
        height: 0.9em;
        top: -2px;
    }
    .modal-title>img:last-child {
        margin-right: 0.5rem;
    }
}
