// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//  Civilization Cards and their states
// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
//
$civbuddy-card-credits-info-planned-hover: #777777;
$civbuddy-card-header-padding-y: (map-get($spacers, 2) + map-get($spacers, 1)) / 2;
$civbuddy-card-spacer-y: 0.6rem;

.bg-warning-darker {
    background-color: darken($warning, 15%) !important;
}

.bg-success-darker {
    background-color: darken($success, 15%) !important;
}

div.card-civbuddy {

    /**/
    // -------- STATE INDEPENDENT ---------------------------------------
    //
    $civbuddy-card-header-element-width: 20%;

    div.card-body {
        position: relative;
        padding-top: 0.1rem;
        padding-bottom: 1.1rem;
    }

    div.card-nominal-cost,
    div.card-current-cost {
        width: $civbuddy-card-header-element-width;
        text-align: center;
        padding: $civbuddy-card-spacer-y 0;
    }
    div.card-nominal-cost {
        display: inline-block;
        color: lighten($text-muted, 6%);
        background-color: lighten($card-cap-bg, 6%);
        border-bottom: 0;
        border-top-right-radius: $card-inner-border-radius;
    }
    div.card-current-cost {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background-color: $card-cap-bg; // same color as the .card-header
        font-size: 1rem;
        font-weight: bold;
        border-bottom-left-radius: $card-border-radius;
        text-align: center;
        display: flex;
        justify-content: center; // horizontal alignment
        align-items: center; // vertical alignment
    }

    div.card-combined-header {
        background-color: $card-cap-bg;
        @include border-top-radius($card-border-radius);
        border-bottom: $card-border-width solid $card-border-color;

        >div.card-header {
            display: inline-block;
            width: 100% - (2 * $civbuddy-card-header-element-width);
            border-top-right-radius: 0;
            border-bottom: 0;
            padding-top: $civbuddy-card-spacer-y;
            padding-bottom: $civbuddy-card-spacer-y;
            >svg {
                height: 1em;
                width: auto;
                position: relative;
                top: -2px;
                display: inline-block;
                margin-right: 0.4em;
            }
        }
        div.info-button {
            display: inline-block;
            text-align: center;
            width: $civbuddy-card-header-element-width;
            padding: $civbuddy-card-spacer-y $card-spacer-x;
            border: 0;
            background-color: $card-cap-bg;

            &:hover {
                cursor: pointer;
                color: lighten($green, 20%);
                background-color: lighten($card-cap-bg, 20%);
            }
        }
    }

    p.card-credits-info {
        color: $text-muted;
        >span {
            // owned values
            color: lighten($info, 5%);
        }
        >i {
            // planned values
            color: $success;
        }
    }
    div.card-combined-title {
        padding: 1.1rem 1.25rem 0; // top horiz bottom
        position: relative;
    }

    /* make cards smaller on small displays */
    @media(max-width: $civbuddy-small-display-threshold) {
        div.card-combined-header {
            >div.card-header {
                padding-top: $civbuddy-card-header-padding-y;
                padding-left: map-get($spacers, 3); // pl-3
                padding-bottom: $civbuddy-card-header-padding-y;
            }
            >div.card-nominal-cost,
            >div.info-button {
                padding-top: $civbuddy-card-header-padding-y;
                padding-bottom: $civbuddy-card-header-padding-y;
            }
        }
        div.card-combined-title {
            padding-top: $civbuddy-card-header-padding-y;
            padding-left: map-get($spacers, 3); // px-3
            padding-right: map-get($spacers, 3); // px-3
            >h4 {
                margin-bottom: $civbuddy-card-header-padding-y;
            }
        }
        div.card-body {
            padding-left: map-get($spacers, 3); // px-3
            padding-right: map-get($spacers, 3); // px-3
            padding-bottom: map-get($spacers, 2); // pb-2
            >h4 {
                margin-bottom: $civbuddy-card-header-padding-y;
            }
        }
    }

    /**/
    // -------- OWNED ---------------------------------------
    //
    &.card-status-owned {
        div.card-combined-header {
            background-color: lighten($primary, 5%);
            div.card-header {
                background-color: lighten($primary, 5%);
                svg>path {
                    fill: lighten(#1067ea, 15%) !important; // base color from arts.svg
                }
            }
            div.info-button {
                background-color: lighten($primary, 5%);
                &:hover {
                    color: lighten($green, 20%);
                    background-color: lighten($card-cap-bg, 20%);
                }
            }
            div.card-nominal-cost {
                background-color: lighten($primary, 10%);
                color: $body-color !important;
            }
        }
        div.card-body {
            padding: map-get($spacers, 3) $card-spacer-x;
        }
        @media(max-width: $civbuddy-small-display-threshold) {
            p.card-status-expl {
                display: none; // do not show status text on very small displays for owned cards
            }
            div.card-body {
                padding: $civbuddy-card-header-padding-y map-get($spacers, 3);
            }
        }
    }

    /**/
    // -------- PLANNED ---------------------------------------
    //
    &.card-status-planned {
        div.card-combined-header {
            background-color: darken($success, 5%);
            border-bottom: $card-border-width solid darken($success, 15%);

            div.card-header {
                background-color: darken($success, 5%);
                svg>circle {
                    fill: lighten(#24C824, 15%) !important; // base color from sciences.svg
                }
            }
            div.info-button {
                background-color: darken($success, 5%);
                &:hover {
                    color: lighten($green, 20%);
                    background-color: lighten($card-cap-bg, 20%);
                }
            }
            div.card-nominal-cost {
                background-color: darken($success, 10%);
                color: darken($body-color, 20%) !important;
            }
        }
        div.card-current-cost {
            background-color: darken($success, 5%);
        }
        div.card-body {
            >p.card-status-expl {
                display: none;
            }
            >p.card-status-expl {
                color: $gray-400 !important;
            }
            p.card-credits-info {
                color: $body-color;
                >span {
                    color: $primary;
                }
                >i {
                    color: $civbuddy-card-credits-info-planned-hover;
                }
            }
            div.progress>div.bar-planned {
                background-color: $civbuddy-card-credits-info-planned-hover !important;
            }
        }
        &.hovered {
            cursor: pointer;
            div.card-combined-title {
                background-color: lighten($card-cap-bg, 20%);
                div.card-current-cost {
                    background-color: lighten($card-cap-bg, 28%);
                }
            }
            div.card-body {
                background-color: lighten($card-cap-bg, 20%);
                p.card-credits-info {
                    >span {
                        color: $info;
                    }
                    >i {
                        color: $success;
                    }
                }
                div.progress>div.bar-planned {
                    background-color: $success !important;
                }
            }
        }
    }

    /**/
    // -------- ABSENT ---------------------------------------
    //
    &.card-status-absent {
        div.card-body>p.card-status-expl {
            display: none;
        }
        &.hovered {
            background-color: lighten($card-cap-bg, 20%);
            cursor: pointer;
            p.card-credits-info {
                color: lighten($text-muted, 20%);
                >span {
                    /* owned values */
                    color: lighten($info, 10%);
                }
            }
            div.card-current-cost {
                background-color: lighten($card-cap-bg, 28%);
            }
        }
    }

    /**/
    // -------- DISCOURAGED ---------------------------------------
    //
    &.card-status-discouraged {
        &.hovered {
            color: $body-color;
            background-color: lighten($card-cap-bg, 20%);
            cursor: pointer;
            p.card-credits-info {
                color: lighten($text-muted, 20%);
                >span {
                    /* owned values */
                    color: lighten($info, 10%);
                }
            }
            div.card-current-cost {
                background-color: lighten($card-cap-bg, 28%);
            }
            div.card-body>p.card-status-expl {
                color: $body-color !important;
            }
        }
    }

    /**/
    // -------- PREREQ FAILED ---------------------------------------
    //
    &.card-status-prereqfailed {
        div.card-combined-title {
            color: $text-muted;
        }
    }

    /**/
    // -------- UNAFFORDABLE ---------------------------------------
    //
    &.card-status-unaffordable {
        div.card-combined-title {
            color: $text-muted;
        }
    }
}

// make cards smaller on small displays, here: filter hint card
@media(max-width: $civbuddy-small-display-threshold) {
    #filterHint .card-body {
        padding: $civbuddy-card-header-padding-y map-get($spacers, 3);
    }
}
