name: build

on: [push, pull_request, workflow_dispatch]

jobs:
    build:
        runs-on: ubuntu-latest
        env:
            CI: true
        steps:
            - uses: actions/setup-node@v3
              with:
                  node-version: '16'
            - uses: actions/checkout@v3
            - run: npm ci
            - run: npm run build
            - run: npm test
            - run: npm run prod
